<div class="responsive-form">
    <div class="r-box">

        <h1>Spaces</h1>

        <% if @spaces.count > 0 %>
            <ul class="spaces-list">
                <% @spaces.each do |space| %>
                    <li><%= link_to space.name %></li>
                <% end %>
            </ul>
        <% else %>
            <p>Sorry, no spaces found.</p>
            <p>You can <%= link_to 'Create a new Space here', new_space_path %>.</p>
        <% end %>

    </div>
</div>
