// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    color: #555;
    background: #eee;
}

a {
    color: #1C495B;
    text-decoration: none;
    &:hover {
        color: #1188a4;
    }
}

.splash {
    background: #fff;
}

.dasher {
    border: 1px solid #ccc;
    margin-bottom: 1em;
}